.jumbotron {
  background-image: url("../img/assets/backgrounds/landing.jpg");
  background-size: auto;
}
.glyphicon-menu-hamburger{
    color: white;
    font-size: 50px;
    margin: 6px 3px;
}
.glyphicon-chevron-right{
  transform: translate(125px, -660%);
}
.glyphicon-chevron-left{
  transform: translate(-125px, -660%);
}
#arrow5{
  transform: translate(30px, -40%);
}
#arrow6{
  transform: translate(-30px, -40%);
}

h1 {
  text-align: center;
  color: white;
}

#top1{
  color: white;
}
#happy1{
  border-style:groove;
  background-color: grey;
  padding-top:15%;
  padding-bottom:7%;
}
#party1{
  border-style:groove;
  background-color:#F15A29;
  padding-top:15%;
  padding-bottom:7%;
}
.lunch{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -670%);
  color: white;
  text-align: center;
  font-size: 98%;
}
.colimages:hover{
  background-color: white;
}
.breakfast{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -670%);
  color: white;
  text-align: center;
  font-size: 98%;

}
.dinner{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -670%);
  color: white;
  text-align: center;
  font-size: 98%;
}
.back{
  background-image: url("../img/assets/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height: 500px;
  padding-left: 200px;
  padding-top: 50px;
}
.subscribe{
  background-image: url("../img/assets/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height: 400px;
  margin-right: 40px;
  padding-top:60px;
}
.arrow{
  font-size: 30px;
}
.dope1{
  box-shadow:5px 5px #C2C1BA;
}
.dope2{
  box-shadow:5px 5px #C2C1BA;
}
.customer1{
  border-style: groove;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sub1{
  color:white;
  background-color:#F15A29;
  text-decoration-color: :none;
  width:100px;
  float: right;
  margin-bottom: 0px;
  margin-top:0px;
}
.email{
  margin-left: 27%;
  float: left;
}
#sub2{
  color: white;
  font-size:50px;
}
#food1{
  padding-left:600px;
  padding-right:600px;
}
#food2{
  margin-left:400px;
  margin-right:400px;
}
#form1{
  opacity: 0.5
}
.footer1{
  background-color:#F15A29;
  height: 200px;
}
.kempinski{
	background-image: url("../assets/backgrounds/foodsBg.jpg");
	background-attachment: fixed;
	height: auto;
	overflow: hidden;
	clear: both;
	opacity: .9;
}

.shot{
	clear: both;
	overflow: hidden;
	padding-top: 130px;
	padding-bottom: 130px;

}
#gallery{
  color:#F7AC3A;

}

.menyu{
	background-color: white;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
}
.menyu img{
  width: 100%;
  height: 100%;
}
#lonely:hover{
	opacity: 0.5;
	color: #F15A29;
}



#selected{
	background-color: white;
	color: #F15A29;
}

#selected:hover{
	color: #F15A29;
	background-color:#E1E1E1;
	border-right: #F0F3F4 outset;
}


#lonely ,  #selected{
	padding : 22px;
	font-weight: bold;
}
